.genres__container {
  background-color: #fff;
  padding: 0 0 16px;
  border-radius: 12px;
  max-width: 360px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.genres__header {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}


.genres__btn {
  color: #1e1f22;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid #1e1f22;
}

.genres__btn:hover {
  background: linear-gradient(135deg, #4BB3FD, #1B98E0);
  box-shadow: 0 4px 10px rgb(27 152 224 / 30%);
}

.genres__btn.active {
  background: linear-gradient(135deg, #4BB3FD, #1B98E0);
  box-shadow: 0 4px 10px rgb(27 152 224 / 30%);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .genres__header {
    font-size: 17px;
    font-weight: 500;
  }

  .genres__container {
    background-color: #fff;
    padding: 0;
    border-radius: 12px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .genres__btn{
    padding: 10px 16px;
  }
}

@media (max-width: 480px) {
  .genres__btn{
    padding: 8px 12px;
  }
}

