.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination__btn-back,
.pagination__btn-forward {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination__btn-back:hover,
.pagination__btn-forward:hover {
  background-color: #0056b3;
}

.pagination__btn-back:disabled,
.pagination__btn-forward:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination__current-page {
  font-size: 18px;
  font-weight: bold;
  color: rgb(20, 28, 108);
}