.date-filter__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #acccf6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    align-self: center;
    width: 300px;
}

.date-filter__container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.date-filter__container label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 3px;
}

.date-filter__container input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4c91af;
    border-radius: 5px;
    background: #fff;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
}

.date-filter__container input[type="date"]:hover {
    border-color: #132378;
}

.date-filter__container input[type="date"]:focus {
    border-color: #00258c;
    box-shadow: 0 0 5px rgba(92, 201, 237, 0.5);
}

.date-filter__container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(30%);
    cursor: pointer;
}
