.cast-crew__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.cast-more__title, .crew-more__title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.cast-more__container,
.crew-more__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-more__list,
.crew-more__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cast-more__item,
.crew-more__item {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  gap: 10px;
}

.cast-more__name,
.crew-more__name {
  font-weight: bold;
  margin-top: 5px;
}

.cast-more__character,
.crew-more__job {
  font-size: 14px;
  color: gray;
}

.cast-crew__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly
}

.cast-more__name-character, .crew-more__name-character{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cast-crew__image{
  width: 90px;
  border-radius: 3px;
}

.cast-crew__header-small{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cast-crew__movie-name{
  font-size: 25px;
}

.cast-crew__btn-back {
  padding: 10px 20px;
  border: 2px solid #4a90e2;
  background-color: transparent;
  color: #4a90e2;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cast-crew__btn-back:hover {
  background-color: #4a90e2;
  color: white;
}