.header {
  background-color: rgb(24 36 87);
}

.header__logo {
  width: 100px;
  height: 100px;
  padding: 5px 5px 5px 10px;
}

.header__ul {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 12px;
  padding: 0;
}

.header__list {
  flex-grow: 1;
  list-style: none;
  text-align: center;
}

.header__item-logo {
  padding-left: 8px;
  list-style: none;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.header__item-logo:hover {
  transform: scale(1.2);
}

.header__link {
  display: inline-block;
  width: 130px;
  padding: 5px 12px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: #3fbdc5;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  will-change: transform;
}

.header__link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgb(255 255 255 / 60%);
}


@media (max-width: 480px) {
  .header__link {
    font-size: 20px;
  }
}