.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 60px;
  width: 100%;
}

.movies__movie {
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 280px;
  height: 420px;
  background-size: cover;
  background-position: top center;
}

.movies__movie-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
}

.movies__movie-info {
  padding: 0 10px;
  display: flex;
  gap: 5px;
  background: rgb(0 0 0 / 60%);
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.movies__movie-score {
  font-size: 15px;
}

.movies__movie-container-score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.movies__movie-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.movies__movie-votes {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(204 204 202);
}

.movies__movie-details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.movies__error {
  text-align: center;
  font-size: 20px;
}

.movies__status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0;
  }

  .movies__movie-info {
    display: flex;
    background: rgb(0 0 0 / 60%);
    justify-content: space-between;
    align-items: center;
  }

  .movies__movie {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 160px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .movies__movie-title {
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: auto;
  }

  .movies__movie-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .movies__movie-container-score {
    width: 25px;
    height: 25px;
    padding: 10px;
  }

  .movies__movie-score {
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movies__movie-details p {
    font-size: 10px;
    font-weight: bold;
  }

  .movies__movie-details p:first-child {
    display: none;
  }

  .movies__movie-score p {
    font-size: 12px;
  }

  .movies__movie-votes {
    display: none;
  }

  .movies__movie-info p:nth-of-type(2) {
    display: none;
  }

  .movies__movie-info p:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 480px) {
  .movies__movie-info p:nth-of-type(2) {
    display: none;
  }

  .movies__movie-info p:nth-of-type(3) {
    display: none;
  }

  .movies {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .movies__movie-title {
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    width: auto;
  }

  .movies__movie-info {
    display: flex;
    background: rgb(0 0 0 / 60%);
    justify-content: space-between;
    width: 100%;
  }

}

@media (min-width: 360px) and (max-width: 480px) {
  .movies__movie {
    width: 210px;
    height: 300px;
  }

  .movies__movie-title {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    width: auto;
  }

  .movies__movie-info {
    display: flex;
    background: rgb(0 0 0 / 60%);
    justify-content: space-between;
    width: 100%;
  }

  .movies__movie-container-score {
    width: 30px;
    height: 30px;
  }

  .movies__movie-score {
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 360px) {

  .movies__movie-container-score {
    width: 30px;
    height: 30px;
  }

  .movies__movie-score {
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movies__movie-info p:nth-of-type(2) {
    display: none;
  }

  .movies__movie-info p:nth-of-type(3) {
    display: none;
  }
}

